<div class="g-col-12 rounded-3 shadow-sm">
  <div class="card-header py-3">
    <h4 class="my-0 fw-normal"><%= t('dashboards.closest_systems.title') %></h4>
  </div>
  <div class="card-body">
    <table class="data-table table table-striped table-sm">
      <thead>
        <tr>
          <th><%= t('dashboards.common.distance') %></th>
          <th><%= t('dashboards.common.star') %></th>
          <th><%= t('dashboards.closest_systems.planets_count') %></th>
          <th><%= t('dashboards.closest_systems.biggest_planet') %></th>
          <th><%= t('dashboards.closest_systems.moons_count') %></th>
          <th><%= t('dashboards.closest_systems.biggest_moon') %></th>
        </tr>
      </thead>
      <tbody>
      <% @closest_summary.each do |closest| %>
        <tr>
          <td><%= closest.distance_from_earth %></td>
          <td><%= closest.name %></td>
          <td><%= closest.planets.size %></td>
          <td><%= closest.planets.order(mass: :desc).first.name %></td>
          <td><%= closest.moons.size %></td>
          <td><%= closest.moons.order(mass: :desc).first.name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
