<div class="g-col-4 card rounded-3 shadow-sm">
  <div class="card-header py-3">
    <h4 class="my-0 fw-normal"><%= t('dashboards.habitable_candidates.title') %></h4>
  </div>
  <div class="card-body">
    <table class="data-table table table-striped table-sm">
      <thead>
        <tr>
          <th><%= Planet.model_name.human %></th>
          <th><%= Star.model_name.human %></th>
          <th><%= t('dashboards.common.distance') %></th>
        </tr>
      </thead>
      <tbody>
        <% @habitable_candidates.slice(0,5).each do |candidate| %>
          <tr>
            <td><%= candidate.name %></td>
            <td><%= candidate.star.name %></td>
            <td><%= candidate.star.distance_from_earth %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
