<div class="g-col-4 card rounded-3 shadow-sm">
  <div class="card-header py-3">
    <h4 class="my-0 fw-normal"><%= t('dashboards.stars_count.title') %></h4>
  </div>
  <div class="card-body">
    <table class="data-table table table-striped table-sm">
      <thead>
        <tr>
          <th><%= t('dashboards.common.category') %></th>
          <th><%= t('dashboards.common.count') %></th>
        </tr>
      </thead>
      <tbody>
        <% @stars.categories.each do |category| %>
        <tr>
          <td><%= t("dashboards.stars_count.categories.#{category[0].downcase}") %></td>
          <td><%= @stars.where(category: category).length %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

