<div class="g-col-4 card rounded-3 shadow-sm">
  <div class="card-header py-3">
    <h4 class="my-0 fw-normal"><%= t('dashboards.top_5_mass.title') %></h4>
  </div>
  <div class="card-body">
    <table class="data-table table table-striped table-sm">
      <thead>
        <tr>
          <th><%= Star.model_name.human %></th>
          <th><%= t('dashboards.common.mass') %></th>
        </tr>
      </thead>
      <tbody>
        <% @heaviest_systems.each do |heavy_system| %>
        <tr>
          <td><%= heavy_system[0] %></td>
          <td><%= heavy_system[1] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
